// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    body {
        padding-top: 72px;
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    body {
        padding-top: 81px;
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    body {
        padding-top: 78px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
}
